.solutions {
	margin-top: 34px;
	&__body {
		position: relative;
	}
	&__container {
		position: absolute;
		top: 130px;
		right: calc(50% - 538px);
	}
	&__img {
		margin-right: -15px;
	}
	&__bg {
		position: absolute;
		top: -40px;
		right: -50px;
		width: 787px;
	}
	&__wrap {
		margin-top: -125px;
		margin-left: 296px;
	}
	&__box {
		max-width: 442px;
	}
}
@media (max-width: 1370px) {
	.solutions {
		&__container {
			top: 50px;
			right: calc(50% - 485px);
		}
		&__bg {
			width: 60vw;
			max-width: 787px;
		}
		&__video {
			width: 32vw;
			max-width: 469px;
		}
		&__wrap {
			margin-top: -100px;
			margin-left: 120px;
			position: relative;
			z-index: 10;
		}
		&__box {
			max-width: 365px;
		}
	}
}
@media (max-width: 1179px) {
	.solutions {
		&__wrap {
			margin-left: 80px;
		}
		&__box {
			max-width: 335px;
		}
	}
}
@media (max-width: 1010px) {
	.solutions {
		&__box {
			max-width: 305px;
		}
		&__container {
			right: 20px;
		}
		&__wrap {
			margin-left: 0px;
			margin-top: -80px;
		}
	}
}
@media (max-width: 760px) {
	.solutions {
		margin-top: 30px;
		&__img {
			margin-right: -28px;
			margin-left: -34px;
		}
		&__container {
			right: 74px;
			top: 30px;
		}
		&__video {
			width: 28vw;
			max-width: 469px;
		}
		&__bg {
			width: 50vw;
			top: 0px;
			right: -10px;
		}
		&__box {
			max-width: 232px;
		}
		&__wrap {
			margin-left: 0;
			margin-top: 0px;
		}
		.box {
			&__icon {
				height: 24px;
				width: 24px;
				margin-top: -5px;
			}
		}
	}
}
