@font-face {
	font-family: "DM Sans";
	src: url("../fonts/DM Sans/DM Sans Regular/DM Sans Regular.eot");
	src:
		url("../fonts/DM Sans/DM Sans Regular/DM Sans Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/DM Sans/DM Sans Regular/DM Sans Regular.woff") format("woff"),
		url("../fonts/DM Sans/DM Sans Regular/DM Sans Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "DM Sans";
	src: url("../fonts/DM Sans/DM Sans Medium/DM Sans Medium.eot");
	src:
		url("../fonts/DM Sans/DM Sans Medium/DM Sans Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/DM Sans/DM Sans Medium/DM Sans Medium.woff") format("woff"),
		url("../fonts/DM Sans/DM Sans Medium/DM Sans Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Space Grotesk";
	src: url("../fonts/Space Grotesk/Space Grotesk Medium/Space Grotesk Medium.eot");
	src:
		url("../fonts/Space Grotesk/Space Grotesk Medium/Space Grotesk Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Space Grotesk/Space Grotesk Medium/Space Grotesk Medium.woff") format("woff"),
		url("../fonts/Space Grotesk/Space Grotesk Medium/Space Grotesk Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Space Grotesk";
	src: url("../fonts/Space Grotesk/Space Grotesk Semibold/Space Grotesk Semibold.eot");
	src:
		url("../fonts/Space Grotesk/Space Grotesk Semibold/Space Grotesk Semibold.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/Space Grotesk/Space Grotesk Semibold/Space Grotesk Semibold.woff") format("woff"),
		url("../fonts/Space Grotesk/Space Grotesk Semibold/Space Grotesk Semibold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "DM Mono";
	src: url("../fonts/DM Mono/DM Mono Medium/DM Mono Medium.eot");
	src:
		url("../fonts/DM Mono/DM Mono Medium/DM Mono Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/DM Mono/DM Mono Medium/DM Mono Medium.woff") format("woff"),
		url("../fonts/DM Mono/DM Mono Medium/DM Mono Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "PolySans Trial";
	src: url("../fonts/PolySans Trial/PolySans Trial.eot");
	src:
		url("../fonts/PolySans Trial/PolySans Trial.eot?#iefix") format("embedded-opentype"),
		url("../fonts/PolySans Trial/PolySans Trial.woff") format("woff"),
		url("../fonts/PolySans Trial/PolySans Trial.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
