:root {
	--font-family: "DM Sans", sans-serif;
	--second-family: "Space Grotesk", sans-serif;
	--third-family: "PolySans Trial", sans-serif;
	--font3: "DM Mono", sans-serif;
	--font4: "Suisse Intl", sans-serif;
}
